section {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url('https://static.vecteezy.com/system/resources/previews/022/006/829/large_2x/pharmacology-and-pharmaceuticals-healthcare-background-with-copy-space-generative-ai-illustration-photo.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  animation: animateBg 5s linear infinite;
}




small{
  position: relative;
  font-display: block;
  font-family: "open sans" Sans-Serif;
  font-size: 1.5em;
  color: #000;
  border-left: 20px;
  padding-left: 20px;
  left: 20px;
  border-top:20px ;
  border-bottom:20px ;
  padding-top: 20px;
  padding-bottom: 20px;
  
}


.registration_box {
  animation: animateBg 5s linear infinite;
  background: linear-gradient(3600deg, #00f, #0ff);
  background-size: 200% 100%;
}

.registration_box{
  position: relative;
  padding-top: 65px;
  width: 1200px;
  height: 1200px;
  border-radius: 23px;
  border: 8px solid rgba(255,255,255,.5);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
 backdrop-filter:blur(15px);
}


.registration_box{
  position: relative;
  width: 810px;
  margin: 60px 0;
  border-bottom: 2px solid #fff;
 
}


@keyframes animateBg {
  100% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.input_box{
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
 
}

.input_box label{
  position: absolute;
  top: 50%;
  left: 40px;
transform: translateY(-50%);
font-size: 1.2em;
color: #000;
right: 8px;
pointer-events: none;
transition: .5s;
padding: 0 25px 0 5px;

}





.input_box:focus-within label {
  top: -5px;
  
}

.input_box:focus-within .icon {
  top: -30px;
  
}

.input_box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 1em;
}


.input_box .icon{
  position: absolute;
  font-size: 1.5em;
  color: #000;
  line-height: 57px;
  
}




button{
  text-align: center;
  font-display: flex;
  font-family: "open sans" Sans-Serif;
  font-size: .9em;
  width: 180px;
  border-radius: 12px;
  border: none;
  border-left: 80px;
  padding: 12px 20px;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  
}
button::after{
  content: "";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:#333 ;
  left: 0;
  top: 0;
  border-radius: 10px;
  
  
}

button::before{
  content: "";
  background: linear-gradient( 9deg,
  #00FFFF,  
  #00BFFF,  
  #7CFC00,  
  #FFFF00,  
  #FF69B4,  
  #FF4500,  
  #1E90FF,  
  #00FF7F   
);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(10px);
  transition: opacity .3s ease-in-out;
  animation: movement 20s linear infinite;
  border-radius: 10px;
  opacity: 0;
}

@keyframes movement{
  0%{ background-position:0 0;}
  50%{ background-position:400% 0;}
  100%{ background-position:0 0;}
  
}

button:hover::before{
  opacity: 1;
}


button:hover::after{
  background: transparent;
}

button:active{
  color: #000;
  font-weight: bold;
}



